.form-container {
    padding: 20px;
    background-color: white;
}

    .form-container h4 {
        color: rgb(62,192,253);
        font-weight: 100;
    }

    .form-container input[type=text], .form-container input[type=email] {
        border: none;
        background: #f1f1f1;
        margin: 5px 0;
        padding: 4px;
    }

        .form-container input[type=text]:focus {
            background-color: #ddd;
        }

.btn-add{
    background-color: rgb(0,177,252);
    margin: 0 0 20px 20px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.error{
    color: red;
    font-size: 10px;
}
