<div class="containers">
  <div class="department-container">
  <h1>Departments</h1>
  <div *ngFor="let department of departmentService.departments" (click)="selectDepartment(department)" class="items">
    {{department.name}}
  </div>
  <button data-modal-target="#modal" (click)="openAddDepartmentDialog()" class="btn-add">
    Add Department
  </button>
  <ng-template #departmentContent let-modal>
    <app-departments [departmentId]="departmentId" [departmentMode]="departmentMode"></app-departments>
  </ng-template>
   </div>
  <div class="office-container">
  <h1>Offices</h1>
  <div *ngFor="let office of officeService.offices" (click)="selectOffice(office)" class="items">
    {{office.name}}
  </div>
  <button data-modal-target="#modal" (click)="openAddOfficeDialog()" class="btn-add">
    Add Office
  </button>
  <ng-template #officeContent let-modal>
    <app-offices [officeId]="officeId" [officeMode]="officeMode"></app-offices>
  </ng-template>
    </div>
  <div class="job-title-container">
  <h1>Job Titles</h1>
  <div *ngFor="let jobTitle of jobTitleService.jobTitles" (click)="selectJobTitle(jobTitle)" class="items">
    {{jobTitle.name}}
  </div>
  <button data-modal-target="#modal" (click)="openAddJobTitleDialog()" class="btn-add">
    Add Job Title
  </button>
  <ng-template #jobTitleContent let-modal>
    <app-job-titles [jobTitleId]="jobTitleId" [jobTitleMode]="jobTitleMode"></app-job-titles>
  </ng-template>
  </div>
 </div>
<a routerLink="/">Back to Home</a>
