.containers {
  display: flex;
  width: 100%;
  text-align: center;
}
  .containers h1 {
    color: rgb(62,192,253);
  }

  .containers .items {
    color: rgb(148,148,147);
    margin: 3px;
    padding: 3px;
    cursor: pointer;
  }

  .containers .department-container {
    width: 33.33%;
  }

  .containers .office-container {
    width: 33.33%;
  }

  .containers .job-title-container {
    width: 33.33%;
  }

 .btn-add {
    margin: 20px;
    color: white;
    padding: 3px;
    font-size: 13px;
    font-weight: bold;
    background-color: rgb(0,177,252);
    border: none;
    cursor: pointer;
  }

  .form-container{
      padding:20px;
  }

.error {
  color: red;
  font-size: 10px;
}
