.form-container {
  padding: 20px;
}

.error {
  color: red;
  font-size: 10px;
}

.btn-add {
  margin: 20px;
  color: white;
  padding: 3px;
  font-size: 13px;
  font-weight: bold;
  background-color: rgb(0,177,252);
  border: none;
  cursor: pointer;
}
