h6 {
    color: rgb(80,79,79);
    margin-top: 20px;
    margin-bottom: 5px;
}

ul {
    margin: 0 0;
    list-style: none;
    padding: 0 0;
}

    ul li a {
        text-decoration: none;
        color: rgb(148,148,147);
        font-size: 10px;
        font-weight: 500;
        cursor: pointer;
    }

.view-link{
    text-decoration: none;
    color: rgb(62,192,253);
    font-size: 8px;
    cursor: pointer;
}
