<header>
    <div class="company-logo">
        <img src="assets/img/logo.jpg" alt="logo" class="logo">
    </div>
    <div class="page-title">
        <h4>Employee Directory</h4>
        <h6>The Ultimate People Directory Experience</h6>
    </div>
    <div class="my-profile">
        <h4>
            Welcome,
            <div *ngIf="userDetails">
            <span class="profile-name">{{userDetails.fullName}}</span>
            </div>
        </h4>
        <div class="profile-pic">
            <img src="assets/img/blank-profile-picture.png" class="dp">
        </div>
        <button class="btn btn-sm btn-danger" (click)="onLogout()">Logout</button>
    </div>
</header>