<header>
    <div class="company-logo">
        <img src="assets/img/logo.jpg" alt="logo" class="logo">
    </div>
    <div class="page-title">
        <h4>Employee Directory</h4>
        <h6>The Ultimate People Directory Experience</h6>
    </div>
    <div class="my-profile">
        <h4>
            Welcome,
            <span class="profile-name">Andrew Philips</span>
        </h4>
        <div class="profile-pic">
            <img src="assets/img/blank-profile-picture.png" class="dp">
        </div>
    </div>
</header>